<div class='p-4 bg-violet-900 text-violet-300'>
  <div class="flex justify-between align-items">
    <div>LOGO</div>
    <div class="flex space-x-4">
      <a
        routerLinkActive="active" routerLink="/home" class="text-gray-300 hover:bg-pink-500   text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Home</a>
      <a
        routerLinkActive="active" routerLink="/blog" class="text-gray-300 hover:bg-pink-500 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Blog</a>
      <a
        routerLinkActive="active" routerLink="/contact" class="text-gray-300 hover:bg-pink-500 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Contact</a>
    </div>
  </div>
</div>
